[submodule "3rdparty/libboundscheck"]
	path = 3rdparty/libboundscheck
	url = https://gitee.com/openeuler/libboundscheck.git
	tag = v1.1.16
[submodule "test/3rdparty/googletest"]
	path = test/3rdparty/googletest
	url = https://gitee.com/mirrors/googletest.git
	tag = release-1.12.1
[submodule "test/3rdparty/mockcpp"]
	path = test/3rdparty/mockcpp
	url = https://gitee.com/mirrors_sinojelly/mockcpp.git
	tag = v2.7